streamlit==1.32.0
# numpy==1.26.4
# pandas==2.1.4
# scikit-learn==1.4.0
scikit-learn==1.5.2
# matplotlib==3.8.2
matplotlib==3.10.8
seaborn==0.13.2
plotly==5.19.0
# groq==0.4.2
python-dotenv==1.0.1
huggingface_hub==0.21.4
openpyxl==3.1.2
sqlalchemy==2.0.28
requests==2.31.0
fpdf2==2.7.9
schedule==1.2.1

# fastapi==0.110.0
# uvicorn==0.27.1
# sqlalchemy==2.0.28
# pydantic==2.6.3
# psycopg2-binary==2.9.9
# # python-dotenv==1.0.1
# python-jose==3.3.0
# passlib==1.7.4
# bcrypt==4.1.2
# groq==0.4.2
# pandas==2.2.0
# numpy==1.26.4
# # scikit-learn==1.4.0
# python-multipart==0.0.9
# mkdir frontend
# mkdir backend